{# Display #}
{% if display is not defined %}
    {% set display = 'html' %}
{% endif %}

{% apply spaceless %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        {% block head %}
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width initial-scale=1.0" />
            <meta name="format-detection" content="telephone=no" />
            <title>GiftVoucher ({{ title }})</title>
            <base />
{# Stylesheets #}
            {% block stylesheets %}
                {# Include your own styles #}
                {# Uses c975L/IncludeLibraryBundle #}
                {% if display == 'pdf' %}
                    {# Links MUST be absolute to be included in the PDF or their content has to be added to the html output #}
                    {{ inc_content('bootstrap', 'css', '3.*') }}
                {% else %}
                    {{ inc_lib('bootstrap', 'css', '3.*') }}
                    {{ inc_lib('fontawesome', 'css', '5.*') }}
                    {{ inc_lib('select2', 'css', '4.*') }}
                {% endif %}
            {% endblock %}
        {% endblock %}
    </head>
{# Body #}
    <body>
        {% if display == 'html' %}
{# jQuery #}
            {{ inc_lib('jquery', 'js', '3.*') }}
{# Flashes #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash alert alert-{{ label }} alert-dismissible text-center lead fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message|raw|nl2br }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
{# Header #}
        {% block header %}
            {# Include your header and use the condition `if display == 'pdf'` to display what you need on the Gift-Voucher PDF, the block is not mandatory #}
        {% endblock %}
{# Title #}
        <h1>
            {{ title }}
        </h1>
{# Content #}
        <div class="container">
            {% block giftVoucher_content %}
            {% endblock %}
        </div>
{# Footer #}
        {% block footer %}
            {# Include your footer and use the condition `if display == 'pdf'` to display what you need on the Gift-Voucher PDF, the block is not mandatory #}
        {% endblock %}
{# Javascript #}
        {% if display == 'html' %}
            {% block javascripts %}
                {{ inc_lib('bootstrap', 'js', '3.*') }}
                {{ inc_lib('select2', 'js', '4.*') }}
            {% endblock %}
        {% endif %}
    </body>
</html>
{% endapply %}