{% trans_default_domain 'giftVoucher' %}

{# Title #}
<h2>
    {{ 'label.gift_vouchers'|trans }} ({{ 'label.available'|trans }})
</h2>
{# Other choices #}
<p>
    <a href="?v=">{{ 'label.purchased'|trans }}</a>
    &nbsp;-&nbsp;
    <strong>{{ 'label.available'|trans }}</strong>
</p>
{# List of GiftVouchers and actions #}
<table class="table table-hover table-condensed table-responsive">
    <thead>
        <tr>
            <th class="text-center">{{ knp_pagination_sortable(giftVouchers, 'Id'|trans, 'v.id') }}&nbsp;<span class="fas fa-sort"></span></th>
            <th class="text-center"><span class="fas fa-eye"></span>&nbsp;{{ knp_pagination_sortable(giftVouchers, 'label.object'|trans, 'v.object') }}&nbsp;<span class="fas fa-sort"></span></th>
            <th class="text-center"><span class="fas fa-pencil-alt"></span>&nbsp;{{ 'label.modify'|trans({}, 'toolbar') }}</th>
            <th class="text-center"><span class="fas fa-copy"></span>&nbsp;{{ 'label.duplicate'|trans({}, 'toolbar') }}</th>
            <th class="text-center"><span class="fas fa-trash"></span>&nbsp;{{ 'label.delete'|trans({}, 'toolbar') }}</th>
            <th class="text-center"><span class="fas fa-code"></span>&nbsp;{{ 'label.web_code'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for giftVoucher in giftVouchers %}
            <tr>
{# Id #}
                <td class="text-center">
                    {{ giftVoucher.id }}
                </td>
{# Object #}
                <td class="text-center">
                    <a href="{{ path('giftvoucher_display_available', {'id': giftVoucher.id}) }}" title="{{ 'label.display'|trans({}, 'toolbar') }}">{{ giftVoucher.object }}</a>
                </td>
{# Modify #}
                <td class="text-center">
                    <a href="{{ path('giftvoucher_modify_available', {'id': giftVoucher.id}) }}" title="{{ 'label.modify'|trans({}, 'toolbar') }}">{{ 'label.modify'|trans({}, 'toolbar') }}</a>
                </td>
{# Duplicate #}
                <td class="text-center">
                    <a href="{{ path('giftvoucher_duplicate_available', {'id': giftVoucher.id}) }}" title="{{ 'label.duplicate'|trans({}, 'toolbar') }}">{{ 'label.duplicate'|trans({}, 'toolbar') }}</a>
                </td>
{# Delete #}
                <td class="text-center">
                    <a href="{{ path('giftvoucher_delete_available', {'id': giftVoucher.id}) }}" title="{{ 'label.delete'|trans({}, 'toolbar') }}" class="text-danger">{{ 'label.delete'|trans({}, 'toolbar') }}</a>
                </td>
{# Copy code #}
                <td class="text-center">
                    <span id="code-{{ giftVoucher.id }}">
                        {% verbatim %}{{ gv_offer_button({% endverbatim %}{{ giftVoucher.id }}{% verbatim %}) }}{% endverbatim %}
                    </span>
                    <button onclick="copyCode('{{ giftVoucher.id }}')" title="{{ 'label.copy_code'|trans }}"><span class="fas fa-code"></span></button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>