{% extends "@c975LGiftVoucher/layout.html.twig" %}
{% trans_default_domain 'giftVoucher' %}
{% set title = 'label.gift_voucher'|trans ~ ' : ' ~ giftVoucher.object %}

{% block giftVoucher_content %}
{# Select GiftVouchers #}
    <div class="row">
        {{ gv_select(giftVoucherAvailable.id) }}
    </div>
{# Gift-Voucher #}
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'label.description'|trans }}</h3>
            </div>
            <div class="panel-body">
{# Object #}
                <p class="lead text-center">
                    {{ 'label.gift_voucher'|trans }} : {{ giftVoucher.object }} ({{ (giftVoucher.amount / 100)|localizedcurrency(giftVoucher.currency) }})
                </p>
{# Description #}
                <p>
                    <span id="gvDesc">{{ giftVoucher.description }}</span>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
{# Offer #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'label.offer'|trans }}</h3>
            </div>
            <div class="panel-body">
{# Form #}
                {{ form_start(form) }}
{# Explanation #}
                    <p class="alert alert-info text-center">
                        {{ 'text.explanation_offer_to'| trans }}
                    </p>
                    {{ form_widget(form) }}
{# Purchased date #}
                <p>
                    {{ 'label.purchased_date'|trans }} : <strong>{{ date()|localizeddate('medium', 'none') }}</strong>
                </p>
{# Valid date #}
                <p>
                    {{ 'label.valid_until'|trans }} : <strong>{{ giftVoucher.valid|localizeddate('medium', 'none') }}</strong>&nbsp;({{ giftVoucher.valid|ago }})
                </p>
{# Amount #}
                <p>
                    {{ 'label.amount'|trans }} : <strong>{{ (giftVoucher.amount / 100)|localizedcurrency(giftVoucher.currency) }}</strong>
                </p>
{# Terms of sales acceptance #}
                <div class="checkbox">
                    <label for="termsAccepted" class="required">
                        <input type="checkbox" id="termsAccepted" name="termsAccepted" required="required" />
                        {{ 'label.accept_tos'|trans({'%tosUrl%': tosUrl}, 'services')|raw }}
                    </label>
                </div>
{# Test #}
                {% if live == false %}
                    <p class="alert alert-danger text-center">
                        {{ 'text.test'|trans }}
                    </p>
                {% endif %}
{# Submit #}
                <div class="form-group">
                    <button type="submit" name="submit" title="{{ 'label.offer'|trans }}" class="btn btn-lg btn-primary btn-block">
                        {{ 'label.offer'|trans }}
                    </button>
                </div>
                {{ form_end(form) }}
{# Mandatory field #}
    <p class="text-muted">
        <em>
            {{ 'label.mandatory_field'|trans({}, 'services') }}
        </em>
    </p>
            </div>
        </div>
    </div>
{# Cancel #}
    <div class="row">
        <p class="text-center">
            <a href="#" onclick="javascript:history.back(); return false;" title="{{ 'label.cancel'|trans({}, 'toolbar') }}">
                {{ 'label.cancel'|trans({}, 'toolbar') }}</a>
        </p>
    </div>
{% endblock %}