{% extends "@c975LGiftVoucher/layout.html.twig" %}
{% trans_default_domain 'giftVoucher' %}
{% set title = 'label.gift_voucher'|trans ~ ' : ' ~ giftVoucher.object %}

{% block giftVoucher_content %}
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'label.description'|trans }}</h3>
            </div>
            <div class="panel-body">
                <p>
{# Object #}
                    {{ 'label.gift_voucher'|trans }} : <strong>{{ giftVoucher.object }}</strong>
                    <br />
{# Description #}
                    {{ giftVoucher.description }}
                </p>
            </div>
        </div>
    </div>
    <div class="row">
{# Offer #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'label.offer'|trans }}</h3>
            </div>
            <div class="panel-body">
{# Form #}
                {{ form_start(form) }}
                    <p class="alert alert-info text-center">
                        {{ 'text.explanation_offer_to'| trans }}
                    </p>
                    {{ form_widget(form) }}
{# Purchased date #}
                <p>
                    {{ 'label.purchased_date'|trans }} : <strong>{{ date()|localizeddate('medium', 'none') }}</strong>
                </p>
{# Valid date #}
                <p>
                    {{ 'label.valid_until'|trans }} : <strong>{{ giftVoucher.valid|localizeddate('medium', 'none') }}</strong>&nbsp;({{ giftVoucher.valid|ago }})
                </p>
{# Amount #}
                <p>
                    {{ 'label.amount'|trans }} : <strong>{{ (giftVoucher.amount / 100)|localizedcurrency(giftVoucher.currency) }}</strong>
                </p>
{# Submit #}
                <div class="form-group">
                    <button type="submit" name="submit" title="{{ 'label.offer'|trans }}" class="btn btn-lg btn-primary btn-block">
                        {{ 'label.offer'|trans }}
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{# Cancel #}
    <div class="row">
        <p class="text-center">
            <a href="javascript:history.back()">
                {{ 'label.cancel'|trans }}</a>
        </p>
    </div>
{% endblock %}