{% extends "@c975LGiftVoucher/layout.html.twig" %}
{% trans_default_domain 'giftVoucher' %}
{% set title = 'label.gift_voucher'|trans ~ ' "' ~ giftVoucher.object ~ '" (' ~ giftVoucher.id ~ ')' %}

{% block giftVoucher_content %}
    {{ toolbar|raw }}
{# Object #}
    <p>
        <strong>{{ 'label.object'|trans }}</strong>
        <br />
        {{ giftVoucher.object }}
    </p>
{# Slug #}
    <p>
        <strong>{{ 'label.semantic_url'|trans }}</strong>
        <br />
        {{ giftVoucher.slug }}
    </p>
{# Description #}
    <p>
        <strong>{{ 'label.description'|trans }}</strong>
        <br />
        {{ giftVoucher.description }}
    </p>
{# Valid #}
    <p>
        <strong>{{ 'label.period_validity'|trans }}</strong>
        <br />
        {{ giftVoucher.valid|date('%y') ~ ' ' ~ 'label.years'|trans ~ ', ' ~ giftVoucher.valid|date('%m') ~ ' ' ~ 'label.months'|trans ~ ', ' ~ giftVoucher.valid|date('%d') ~ ' ' ~ 'label.days'|trans }}
    </p>
{# Amount #}
    <p>
        <strong>{{ 'label.amount'|trans }}</strong>
        <br />
        {{ (giftVoucher.amount / 100)|localizedcurrency(giftVoucher.currency) }}
    </p>
{# Twig code #}
    <p class="alert alert-info text-center">
        {{ 'text.copy_code'|trans }}
    </p>
{# Offer Buttons #}
    <div class="col-xs-12 col-sm-6 text-center">
        <h3>
            {{ 'label.offer_button'|trans }}
        </h3>
{# Default #}
        <p class="well">
            {{ gv_offer_button(giftVoucher.id)|raw }}
            <br />
            {% verbatim %}{{ gv_offer_button({% endverbatim %}{{ giftVoucher.id }}{% verbatim %})|raw }}{% endverbatim %}
        </p>
{# Primary #}
        <p class="well">
            {{ gv_offer_button(giftVoucher.id, 'btn-primary')|raw }}
            <br />
            {% verbatim %}{{ gv_offer_button({% endverbatim %}{{ giftVoucher.id }}{% verbatim %}, 'btn btn-primary')|raw }}{% endverbatim %}
        </p>
{# Primary + Large #}
        <p class="well">
            {{ gv_offer_button(giftVoucher.id, 'btn-lg btn-primary')|raw }}
            <br />
            {% verbatim %}{{ gv_offer_button({% endverbatim %}{{ giftVoucher.id }}{% verbatim %}, 'btn btn-lg btn-primary')|raw }}{% endverbatim %}
        </p>
{# Success #}
        <p class="well">
            {{ gv_offer_button(giftVoucher.id, 'btn-success')|raw }}
            <br />
            {% verbatim %}{{ gv_offer_button({% endverbatim %}{{ giftVoucher.id }}{% verbatim %}, 'btn btn-success')|raw }}{% endverbatim %}
        </p>
        <hr />
{# user-defined #}
        <div class="well">
            <h4>
                {{ 'label.user_defined'| trans }}
            </h4>
            <p>
                {{ 'text.your_style_defined_in_css'|trans }}
                <br />
                {% verbatim %}{{ gv_offer_button({% endverbatim %}{{ giftVoucher.id }}{% verbatim %}, 'your_style_defined_in_css')|raw }}{% endverbatim %}
            </p>
        </div>
    </div>
{# Offer Link #}
    <div class="col-xs-12 col-sm-6 text-center">
        <h3>
            {{ 'label.offer_link'|trans }}
        </h3>
        <p class="well">
            {{ gv_offer_link(giftVoucher.id)|raw }}
            <br />
            {% verbatim %}{{ gv_offer_link({% endverbatim %}{{ giftVoucher.id }}{% verbatim %})|raw }}{% endverbatim %}
        </p>
    </div>
{% endblock %}